@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(#186a5e, #053339);
    color: #e1eeeb;
    min-height: 100vh;
}

header p {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    color: #c6f4f2;
}

#player input {
    font: inherit;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes slide-in-from-top {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.9);
}

.results-para {
    @apply my-2 text-lg;
}

.results-para strong {
    @apply text-blue-800;
}

.results-button {
    @apply bg-slate-800 hover:bg-slate-950 text-zinc-200 px-4 py-2 rounded-md font-bold text-lg;
}


  